@media (max-width: 1200px) {
    .container {
        Max-width: 960px
    }

    .hero_img {
        height: 275px;
    }

    .hero__ellipse {
        height: 50px;
    }

    .hero__arrow {
        width: 17px;
    }

    .tours__title {
        font-size: 44px;
    }

    .tours__suptitle {
        font-size: 34px;
    }

    .advantages__title {
        font-size: 42px;
    }

    .advantages__img {
        height: 325px;
    }

    .advantages__subtitle {
        font-size: 34px;
    }

    .advantages__desc {
        font-size: 20px;
    }

    .clients__title {
        font-size: 44px;
    }

    .footer__forms_title {
        font-size: 42px;
    }

    .footer__info_title {
        font-size: 20px;
    }

    .footer__info_desc {
        font-size: 16px;
    }

    .footer_img {
        height: 56px;
    }

    .footer__info {
        padding-left: 110px;
    }

    .footer__socials {
        padding-left: 30px;
    }

    .footer__social {
        margin-left: 10px;
    }

    .copyright__content p {
        font-size: 16px
    }
    .slick-next {
        right: -10px;
    }
    .slick-prev {
        left: -10px;
    }
    .video__content{
        height: 550px;
    }
    .hero_img {
        display: none;
    }
    .about_title{
        font-size: 40px;
        line-height: 58px;
    }
    .about_desc{
        font-size: 20px;
    }
    .about_desc_center{
        font-size: 20px;
        margin: 10px 0;
    }
    .about_desc_left{
        font-size: 20px;
    }
}


@media (max-width: 992px) {
    .container {
        Max-width: 750px
    }

    .hero__content_title {
        font-size: 58px;
    }


    .hero_img {
        display: none;
    }

    .tours__title {
        font-size: 38px;
    }

    .tours__suptitle {
        font-size: 23px;
    }

    .advantages__title {
        font-size: 38px;
    }

    .advantages__img {
        height: 275px;
    }

    .advantages__subtitle {
        font-size: 23px;
    }

    .advantages__desc {
        font-size: 14px;
    }

    .advantages__items {
        padding-top: 40px;
    }

    .clients__title {
        font-size: 38px;
    }

    .footer__forms_title {
        font-size: 28px;
    }

    .footer__info_title {
        font-size: 18px;
    }

    .footer__info_desc {
        font-size: 14px;
    }

    .footer_img {
        height: 48px;
    }

    .footer__info {
        padding-left: 90px;
    }

    .footer__socials {
        padding-left: 20px;
    }

    .footer__social {
        margin-left: 10px;
    }

    .hero__content_title {
        font-size: 58px;
    }

    .hero_img{
        display: none;
    }
    .video__content{
        height: 500px;
    }
    .footer__forms{
        min-width: unset;
        max-width: 411px;
    }
    .mnt{
        top: 85%;
    }
}


@media (max-width: 768px) {
    .container {
        Max-width: none
    }

    .hero__content_title {
        font-size: 52px;
    }

    .hero__content_subtitle {
        font-size: 28px;
    }

    .about_title {
        font-size: 34px;
    }

    .about_desc {
        font-size: 22px;
    }

    .navbar {
        display: none;

    }

    .header_menu {
        display: block;
        position: relative;
        z-index: 65;
    }

    .navbar.show {
        background-color: #AF9FA0;
        height: 100%;
        width: 50%;
        display: flex;
        position: fixed;
        top: 0;
        right: -100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1;
        padding: 20px 0;
        transition: .6s;
    }

    .navbar.show {
        text-align: center;
        display: flex;
    }

    .navbar.show {
        position: fixed;
        top: 0;
        right: 0;
    }
    .navbar__link{
        margin-bottom: 10px;
    }

    .header_menu.active span:before {
        transform: rotate(
                45deg
        );
        top: 0;
    }

    .header_menu.active span:after {
        transform: rotate(
                -45deg
        );
        top: 0;
    }

    .header_menu.active span {
        background-color: transparent;
    }

    .tours__title {
        font-size: 32px;
    }

    .tours__suptitle {
        font-size: 16px;
    }

    .advantages__title {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .advantages__img {
        height: 173px;
    }

    .advantages__subtitle {
        font-size: 16px;
    }

    .advantages__desc {
        font-size: 12px;
    }

    .advantages__items {
        padding-top: 20px;
    }

    .clients__title {
        font-size: 32px;
    }

    .copyright__content p {
        font-size: 14px
    }
    .slick-next {
        right: 15px;
    }
    .slick-prev {
        left: 15px;
    }
    .footer__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__forms{
        margin-bottom: 25px;
        min-width: 411px;
    }
    .footer__socials{
        padding-left: 0;
    }
    .footer__info {
        padding-left: 0;
        margin-bottom: 20px;
    }
    .about_title {
        font-size: 28px;
    }
    .about_desc{
        font-size: 18px;
    }
    .about_desc_center{
        font-size: 18px;
        margin: 5px 0;
    }
    .about_desc_left{
        font-size: 18px;
        padding-bottom: 150px;
    }
}

@media (max-width: 540px) {
    .hero__content_title {
        font-size: 48px;
    }

    .hero__content_subtitle {
        font-size: 22px;
    }

    .tours__title {
        font-size: 28px;
    }

    .tours__suptitle {
        font-size: 14px;
    }

    .advantages__title {
        font-size: 26px;
        margin-bottom: 30px;
    }

    .advantages__img {
        height: 143px;
    }

    .advantages__subtitle {
        font-size: 14px;
    }

    .advantages__items {
        padding-top: 10px;
    }

    .clients__title {
        font-size: 28px;
    }
    .hero__content_title {
        font-size: 48px;
    }
    .hero__content_subtitle {
        font-size: 22px;
    }

}

@media (max-width: 480px) {
    .hero__content_title {
        font-size: 38px;
    }

    .hero__content_subtitle {
        font-size: 18px;
    }

    .advantages__container {
        flex-direction: column;
    }

    .tours__title {
        font-size: 18px;
    }

    .clients__title {
        font-size: 18px;
    }

    .copyright__content p {
        font-size: 12px
    }


    .hero__content_subtitle {
        font-size: 18px;
    }
    .footer__forms{
        min-width: 360px;
    }
    .about_title {
        font-size: 20px;
        line-height: 43px;
    }
    .about_desc{
        font-size: 14px;
    }
    .about_desc_center{
        font-size: 14px;
        margin: 5px 0;
    }
    .about_desc_left{
        font-size: 14px;
        padding-bottom: 50px;
    }
    .mnt{
        top: 88%;

    }
}

