@media (max-width: 1200px) {
    .container {
        Max-width: 960px;
        padding:0 15px;
    }
    .hero__tours__content-title {
        font-size: 30px;
        line-height: 120%;
    }
    .tours__map-img{
        width: 90%;
    }
    .hero__tours .col-4 {
        padding: 0 15px;
    }
}

@media (max-width: 992px) {
    .container {
        Max-width: 750px
    }
    .hero__content_title {
        font-size: 58px;
    }
    .hero__tours__content_suptitle {
        font-size: 35px;
        line-height: 56px;
    }
    .about_title{
        font-size: 36px;
    }
    .about_desc{
        font-size: 26px;
    }
    .hero_img{
        display: none;
    }
    .col-4{
        width: 50%;
    }
    .display{
        display: none;
    }
    .tours__video{
        width: 100%;
    }
    .width{
        width: 100%;
        order:2;
    }
    .card-title{
        font-size: 32px;
    }
}

@media (max-width: 768px) {
    .container {
        Max-width: none
    }
    .tours__map-img{
        margin-top:10px;
    }


    .hero__content_title {
        font-size: 52px;
    }
    .col-4{
        width: 50%;
    }
    .hero__tours .col-4 {
        padding: 0 45px;
    }

    .hero__tours__content_suptitle {
        font-size: 28px;
        line-height: 56px;
    }
    .hero__tours__content-title {
        font-size: 22px;
        line-height: 120%;
    }
    .display{
        display: flex;
        order: 1;
        width: 100%;
        text-align: center;
    }

    .about_title {
        font-size: 34px;
    }

    .about_desc {
        font-size: 22px;
    }

    .navbar {
        display: none;
    }

    .header_menu {
        display: block;
    }

    .navbar.show {
        background-color: #AF9FA0;
        height: 100%;
        width: 100%;
        display: flex;
        position: fixed;
        top: 0;
        right: -100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1;
        padding: 20px 0;
        transition: .6s;
    }

    .navbar.show {
        text-align: center;
        right: 0;
        display: flex;
        padding: 20px 0;
    }
    .card-btn{
        margin:20px 0 0;
    }
    .video__btn{
        width: 220px;
        padding: 20px 25px;
        font-size: 30px;
    }
    .card-title{
        font-size: 28px;
    }
    .card-inner{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
}
@media (max-width: 540px){
    .hero__content_title {
        font-size: 48px;
    }
    .hero__content_suptitle {
        font-size: 22px;
    }
    .video_btn{
        width: 180px;
        padding: 10px 25px;
        font-size: 23px;
    }
    .hero__tours_btn{
        width: 180px;
    }
    .btn{
        font-size: 18px;
    }
    .col-4{
        width: 100%;
    }
    .hero__tours__content-desc{
        font-size: 15px;
    }
    .card-btn{
        width: 215px;
    }
    .tours__map-img{
        display: none;
    }

    .row{
        margin:0;
    }

}

@media (max-width: 480px) {
    .col-4{
        width: 100%;
    }
    .hero__tours_btn{
        width: 150px;
        font-size: 15px;

    }

    .video_btn{
        width: 180px;
        padding: 10px 25px;
        font-size: 23px;
    }
    .row{
        margin:0;
    }
    .btn{
        font-size: 18px;
    }
    .hero__tours__content-desc{
        font-size: 15px;
    }
    .hero__content_title {
        font-size: 38px;
    }
    .hero__content_subtitle {
        font-size: 18px;
    }
    .tours__map-img{
        display: none;
    }
    .hero__tours .col-4 {
        padding: 0 15px;
    }
}

