* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  cursor: pointer;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-4 {
  padding: 0 15px;
  width: 33.33333%;
}

.col-6 {
  width: 50%;
  padding: 0 15px;
}

.col-8 {
  padding: 0 15px;
  width: 66.66666%;
}

.main {
  background: rgba(25, 35, 49, 0.62) url("../images/bg.png") no-repeat center/cover;
  background-blend-mode: darken;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 100;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFF;
  margin-left: 14px;
  position: relative;
}
.navbar__link:hover {
  color: #B6A4A4;
}
.navbar__link:hover:before {
  transform: scale(1);
}
.navbar__link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #B6A4A4;
  bottom: -3px;
  transform: scale(0);
  transition: 0.4s;
}

.header_menu {
  width: 40px;
  height: 40px;
  transition: 0.5s;
  position: relative;
  display: none;
}
.header_menu span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.3s;
  height: 2px;
  width: 100%;
  background-color: #FFFFFF;
}
.header_menu span:before {
  content: "";
  transition: all 0.3s;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #FFFFFF;
}
.header_menu span:after {
  content: "";
  transition: all 0.3s;
  height: 2px;
  width: 100%;
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #FFFFFF;
}

.hero {
  font-family: "Lora", sans-serif;
  padding-top: 90px;
  min-height: 100vh;
  position: relative;
}
.hero__ellipse {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -85%;
  margin: auto;
}
.hero__arrow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -85%;
  margin: auto;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
.hero__container {
  position: relative;
}
.hero__content_title {
  font-weight: 400;
  font-size: 72px;
  line-height: 110.6%;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.07);
  background: #b6a4a4;
  background: linear-gradient(180deg, #b6a4a4 40%, #a5acc2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 89px 0 32px;
}
.hero__content_subtitle {
  font-weight: 500;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.03em;
  color: #A5ACC2;
}
.hero_img {
  position: absolute;
  right: 0;
  top: 200px;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.about {
  width: 100%;
  display: flex;
  padding: 0 0 92px;
}
.about_title {
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.03em;
  color: #E3E3E5;
  margin-top: 119px;
}
.about_desc {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.07em;
  color: #E3E3E5;
  margin-top: 170px;
}

.tours {
  background: #021F38;
  box-shadow: 0px -38px 35px 2px #021F38;
  padding: 73px 0 135px;
}
.tours__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  color: #FFFFFF;
  padding-bottom: 15px;
  text-align: center;
  display: block;
}
.tours__suptitle {
  font-weight: 500;
  font-size: 30px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 15px;
  display: block;
}
.tours__cities {
  min-height: 446px;
  display: flex !important;
  align-items: flex-end;
  justify-content: center;
}
.tours_chui {
  background: url("../images/chui.png") no-repeat center;
}
.tours_osh {
  background: url("../images/osh.png") no-repeat center;
}
.tours_ik {
  background: url("../images/ik.png") no-repeat center;
}
.tours_talas {
  background: url("../images/talas.png") no-repeat center;
}
.tours_naryn {
  background: url("../images/naryn.png") no-repeat center;
}
.tours_ja {
  background: url("../images/jalal-abad.png") no-repeat center;
}
.tours__city {
  font-weight: 600;
  font-size: 36px;
  line-height: 133.7%;
  color: #FFFFFF;
  margin-bottom: 13px;
}
.tours__cities {
  position: relative;
  transition: 0.6s;
  overflow: hidden;
}
.tours__cities:hover .tours__info {
  bottom: 0;
}
.tours__cities:hover .tours__headings {
  display: none;
}
.tours__desc {
  font-weight: normal;
  font-size: 18px;
  line-height: 133.7%;
  text-align: center;
  font-style: italic;
  max-width: 238px;
  color: #FFFFFF;
}
.tours__info {
  position: absolute;
  bottom: -100%;
  transition: 0.7s;
  text-align: center;
  background: rgba(25, 35, 49, 0.62);
  height: 100%;
  padding: 72px 42px 24px;
}
.tours_btn {
  width: 203px;
  height: 49px;
  background: rgba(171, 156, 158, 0.77);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  border: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
  position: absolute;
  right: 0;
  bottom: -80%;
  left: 0;
  top: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  height: 765px;
  background: linear-gradient(180.07deg, rgba(2, 31, 56, 0) 0.06%, #AF9FA0 99.94%), #021F38;
}
.video__content {
  background: rgba(2, 22, 38, 0.5) url("../images/video.png");
  background-blend-mode: darken;
  border-radius: 5px;
  height: 645px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages {
  background: #AF9FA0;
  min-height: 679px;
}
.advantages__container {
  display: flex !important;
  justify-content: space-between;
}
.advantages__desc {
  max-width: 560px;
  font-size: 24px;
  line-height: 33px;
  color: #2B3757;
}
.advantages__desc:not(:last-child) {
  margin-bottom: 21px;
}
.advantages__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  color: #192331;
}
.advantages__subtitle {
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  color: #101E45;
}

.clients {
  background: linear-gradient(180deg, #AF9FA0 0%, rgba(255, 255, 255, 0) 100%), #29446B;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  min-height: 724px;
  color: #FFFFFF;
}
.clients__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  color: #192331;
  display: flex;
  justify-content: center;
  padding: 91px 0 31px;
}
.clients__card {
  min-height: 446px;
  background: rgba(25, 35, 49, 0.9);
  border-radius: 5px;
  width: 319px;
  margin: 0 45px;
  position: relative;
}
.clients__desc {
  margin: 60px 27px 0;
  font-size: 14px;
  line-height: 133.7%;
  letter-spacing: 0.03em;
}
.clients__cards {
  min-height: 446px;
  display: flex !important;
  align-items: flex-end;
  justify-content: center;
}
.clients__info {
  display: flex;
  align-items: center;
  margin-left: 27px;
  position: absolute;
  bottom: 35px;
}
.clients__name {
  margin-left: 13px;
}
.clients__quote {
  position: absolute;
  top: 16px;
  right: 27px;
}

.footer {
  background: rgba(2, 22, 38, 0.83) url("../images/ftr.png") no-repeat center/cover;
  background-blend-mode: darken;
  min-height: 548px;
  padding: 89px 0 92px;
  color: #FFFFFF;
}
.footer__container {
  display: flex;
}
.footer__forms {
  display: flex;
  flex-direction: column;
  max-width: 411px;
}
.footer__forms_title {
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
}
.footer__info {
  padding-left: 170px;
}
.footer__info_title {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 5px;
  color: #FFFFFF;
}
.footer__info_desc {
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.footer__socials {
  padding-left: 112px;
}
.footer__social {
  margin-left: 28px;
}
.footer__items {
  display: flex;
  align-items: center;
}
.footer__items:not(:last-child) {
  margin-bottom: 48px;
}
.footer__forms input {
  background: transparent;
  border: none;
  border-bottom: 2px #FFFFFF solid;
  height: 50px;
  margin-bottom: 30px;
  padding-left: 10px;
  color: #FFFFFF;
}
.footer__forms textarea {
  background: transparent;
  border: none;
  border-bottom: 2px #FFFFFF solid;
  height: 50px;
  padding-left: 10px;
}
.footer__forms ::placeholder {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Open Sans", sans-serif;
}
.footer img {
  margin-right: 16px;
}

.copyright {
  background: #021626;
  padding: 30px 0;
}
.copyright__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright__content p {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #A5ACC2;
}

.map {
  height: 644px;
  position: relative;
}
.map__box {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(2, 22, 38, 0.5);
  background-blend-mode: darken;
}

#map {
  height: 100%;
}

.hero-card {
  background: rgba(2, 22, 38, 0.5) url("../images/bg-ch.png") no-repeat center/cover;
  padding: 167px 0 88px;
  background-blend-mode: darken;
}

.card-title {
  font-size: 38px;
  line-height: 52px;
  color: #FFFFFF;
}

.card-logo {
  display: flex;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}

.card-btn {
  border: 3px solid #FFFFFF;
  border-radius: 10px;
  width: 235px;
  height: 63px;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
  background: transparent;
  cursor: pointer;
  margin-right: 100px;
}

.card-desc {
  padding: 29px;
  background: rgba(175, 159, 160, 0.51);
  border-radius: 10px;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.tours__map {
  position: relative;
  right: 0;
  top: -100px;
}

.gps {
  position: absolute;
  top: 0;
  left: 215px;
  right: 0;
  bottom: 114px;
  margin: auto;
}

.tours__video {
  background: rgba(24, 43, 97, 0.51);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 358px;
  margin-top: 77px;
}

.hero__wrapper {
  height: 100%;
  width: 100%;
  background: rgba(24, 43, 97, 0.51);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  transition: all 0.8s ease 0s;
}

.hero__form {
  background: rgba(25, 35, 49, 0.87) url("../images/bg.png") no-repeat center/cover;
  border-radius: 10px;
  background-blend-mode: darken;
  font-weight: 600;
  font-size: 34px;
  line-height: 52px;
  color: #edf0fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 700px;
  padding: 72px 96px 54px;
  max-width: 652px;
  text-align: center;
  position: relative;
  transition: all 0.8s ease 0s;
}
.hero__form_title {
  color: #edf0fd;
  position: relative;
  margin-bottom: 15px;
}
.hero__form_title:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #edf0fd;
  top: 0;
  left: 0;
  right: 0;
  bottom: -55px;
  margin: auto;
}
.hero__form input {
  width: 100%;
  background: rgba(24, 43, 97, 0.51);
  border: 0.2px solid white;
  color: #FFFFFF;
  border-radius: 10px;
  height: 49px;
  margin-top: 10px;
  padding-left: 10px;
}
.hero__form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Open Sans", sans-serif;
}

.hero-btn {
  width: 203px;
  height: 49px;
  background: #2B3757;
  color: #FFFFFF;
  border-radius: 50px;
  border: none;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.wrapper-show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__close {
  position: absolute;
  right: 50px;
  top: 20px;
}

.header__tours {
  background-color: rgba(38, 60, 82, 0.4);
}

.hero__tours {
  background: url("../images/bg-tours.png") no-repeat center/cover;
  padding: 122px 0 54px;
}
.hero__tours-content__suptitle {
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 500;
}
.hero__tours .btn_box {
  padding-bottom: 21px;
}
.hero__tours_btn {
  margin: 0 auto;
}
.hero__tours_container {
  text-align: center;
  max-width: 1170px;
  padding: 0 30px;
  margin: 0 auto;
}
.hero__tours__content {
  border-radius: 15px;
  min-height: 369px;
  position: relative;
  margin: 0 auto;
}
.hero__tours__content-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 133.7%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 20px 0;
}
.hero__tours__content-desc {
  font-style: italic;
  font-size: 18px;
  line-height: 133.7%;
  min-height: 230px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 0 41px;
  color: #FFFFFF;
}
.hero__tours-content__suptitle {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.03em;
  color: #fff;
  font-weight: 600;
}

.content {
  margin-top: 28px;
}

.bg-jalal {
  background: rgba(25, 35, 49, 0.73) url("../images/jalal-abad.png") no-repeat center/cover;
  background-blend-mode: darken;
}

.bg-chui {
  background: rgba(25, 35, 49, 0.73) url("../images/chui.png") no-repeat center/cover;
  background-blend-mode: darken;
}

.bg-talas {
  background: rgba(25, 35, 49, 0.73) url("../images/talas.png") no-repeat center/cover;
  background-blend-mode: darken;
}

.bg-osh {
  background: rgba(25, 35, 49, 0.73) url("../images/osh.png") no-repeat center/cover;
  background-blend-mode: darken;
}

.bg-issykkol {
  background: rgba(25, 35, 49, 0.73) url("../images/ik.png") no-repeat center/cover;
  background-blend-mode: darken;
}

.bg-naryn {
  background: rgba(25, 35, 49, 0.73) url("../images/naryn.png") no-repeat center/cover;
  background-blend-mode: darken;
}

.btn {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  background: rgba(171, 156, 158, 0.77);
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.8);
  height: 49px;
  width: 203px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

.gallery {
  padding-top: 100px;
  background: #101E45;
}

/*# sourceMappingURL=style.css.map */
